.DS_Store
.git
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc
app/logs/*


doc-dev
.vscode/*

data
**/migrations/versions/*
!**/migrations/versions/.gitkeep
!app/logs/.gitkeep
!app/media/.gitkeep